polkit.addRule(
  function(action, subject) {
    if ( action.id == "org.kde.powerdevil.discretegpuhelper.hasdualgpu" &&
        subject.isInGroup("power") ) {
      return polkit.Result.YES;
    }
  }
);

