# The default options for MariaDB (in /etc/default/mariadb) include
# --skip-ssl, so the client must also skip SSL in order to access the
# database. If you enable SSL by removing the --skip-ssl option from
# /etc/default/mariadb, then you must also comment out the lines below.
# Don't just remove this file or it will reappear with every mariadb
# package upgrade!

[client-mariadb]
skip-ssl
