[Desktop Entry]
Name=SeaMonkey
Comment=Web Browser
Exec=/usr/bin/seamonkey
Icon=/usr/share/pixmaps/seamonkey-icon.png
Terminal=0
Type=Application
Categories=Application;Network;
