# mkinitrd.conf.sample
# See "man mkinitrd.conf" for details on the syntax of this file
#
#SOURCE_TREE="/boot/initrd-tree"
#CLEAR_TREE="0"
#OUTPUT_IMAGE="/boot/initrd.gz"
#KERNEL_VERSION="$(uname -r)"
#KEYMAP="us"
#MODULE_LIST="ext3"
#LUKSDEV="/dev/hda1"
#ROOTDEV="/dev/hda1"
#ROOTFS="ext3"
#RESUMEDEV="/dev/hda2"
#RAID="0"
#LVM="0"
#WAIT="1"
