[Desktop Entry]
Encoding=UTF-8
Name=Xine
Name[pl]=Odtwarzacz xine
GenericName=Media Player
Comment=Xine Media Player
Comment[pl]=Odtwarzacz filmów
Icon=xine.xpm
Exec=xine
Terminal=0
Type=Application
Categories=Application;AudioVideo;Player;
MimeType=video/mpeg;video/quicktime;video/x-msvideo;video/x-anim;audio/x-mp3;audio/x-mp2;
# vi: encoding=utf-8
