# HOW TO EDIT THIS FILE:
# The "handy ruler" below makes it easier to edit a package description. Line
# up the first '|' above the ':' following the base package name, and the '|'
# on the right side marks the last column you can put a character in. You must
# make exactly 11 lines for the formatting to be correct. It's also
# customary to leave one space after the ':' except on otherwise blank lines.

       |-----handy-ruler------------------------------------------------------|
kconfig: kconfig (Persistent application settings)
kconfig:
kconfig: KConfig provides an advanced configuration system. It is made of two
kconfig: parts: KConfigCore and KConfigGui. KConfigCore provides access to the
kconfig: configuration files themselves. KConfigGui provides a way to hook
kconfig: widgets to the configuration so that they are automatically
kconfig: initialized from the configuration and automatically propagate their
kconfig: changes to their respective configuration files.
kconfig:
kconfig:
kconfig:
