[Desktop Entry]
Encoding=UTF-8
Name=XBoard
GenericName=Chess Game
Comment=A graphical chess engine frontend
Exec=xboard
Icon=/usr/share/pixmaps/chess.png
Terminal=false
Type=Application
Categories=Application;Game;BoardGame
